
:root {
  --Primary0: #185E3D;
  --Primary1: #185E3D;
  --Primary2: #167347;
  --background: #FBFBFB;
  --black: #474A4D;
  --contrast: #121817;
  --font-white: #ffffff;
  --font-black: #000000;
  --contrast-link: #8DE3F0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: var(--background);
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing:border-box;
}

 h2, h3, h4, h5, h6 {
  color: var(--contrast);
  font-weight: 600;
}

h1 {
  font-size: 22px;
  text-align:left;
  margin-bottom: 20px;
  color: var(--font-white);
}

h2 {
  font-size: 18px;
  margin-top: 25px;
}

h3 {
  font-size: 16px;
  margin-top: 20px;
}
h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  margin-top: 25px;
}

h6 {
  font-size: 16px;
  margin-top: 20px;
}
p {
  margin: 0 0 10px;
  color: #333;
}

ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 6px;
}

a {
  color:#1a64c5 ;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
}

.box {
  background: #ffffff;
  border-left: 4px ;
  padding: 15px 18px;
  margin: 20px 0;
  border-radius: 4px;
  box-sizing:border-box;
  text-align: justify;

}
.boxx {
  background: #185E3D;
  border-left: 20px ;
  padding: 15px 18px;
  margin: 20px 0px;
  border-radius: 4px;
  box-sizing:border-box;
  --font-white: #ffffff;
}

.img-apadrinhamento {
  width: 500px;
  height: 708px;
  display: block;
  margin: 0 auto 15px;

}

