
:root {
  --Primary0: #185E3D;
  --Primary1: #185E3D;
  --Primary2: #167347;
  --background: #FBFBFB;
  --black: #474A4D;
  --contrast: #121817;
  --font-white: #ffffff;
  --font-black: #000000;
  --contrast-link: #8DE3F0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  background-color: var(--background);
  margin: 0;
  padding: 20px;
  box-sizing: border-box;  
}

*, *::before, *::after {
  box-sizing:border-box;
}

  h3, h4, h5, h6 {
  color: #ffffff
  font-weight: 600px;
}

header h1
{
  background: #185E3D;
  font-size: 16px;
  text-align: justify;
  box-sizing:border-box;
  padding: 10px 15px 10px 15px;
  color: var(--font-white);
  margin-bottom: 0px;
  margin-top: 30px;
  margin-right: 40px;
  margin-left: 45px;
  
}

h3 {
  font-size: 18px;
  margin-top: 10px;

}
h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

h5 {
  font-size: 18px;
  margin-top: 25px;
}

h6 {
  font-size: 16px;
  margin-top: 20px;
}

p {
 
  color: #333;
  margin-top: 10px;
  
}

ul {
  padding-left: 15px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 6px;
 
}

a {
  color:#1a64c5 ;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
}

.box {
  font-size: 16px;
  text-align: justify;
  background: #fbf9f9;
  padding: 15px;         /* espaço interno */
  margin-top: 0px;
   margin-right: 40px;
   margin-left: 40px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;        /* centraliza no desktop */  
}
.boxx {
  font-size: 16px;
  text-align: justify;
  background: #fbf9f9;
  padding: 10px 15px 10px 15px;
  margin: 35px;
  margin-top: 0px;
   margin-right: 40px;
   margin-left: 40px;
}
boxapadrinhamento {
  width: 500px;
  height: 600px;
  display: block;
  margin: 0 auto 15px;
}
.boxapadrinhamento img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

/* Ajustes específicos para celular */
@media screen and (max-width: 767px) {

  .banners .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
  }

  #rodape .bloco-vertical-middle {
    display: block;
  }

  #sub-rodape p {
    text-align: center;
  }

  .bloco-space-between {
    flex-direction: column;
  }

}


























